body {   
    text-align: center; 
    text
}

.projects {
    margin-top: 40px;
}

.proj {
    outline: 1px solid black;
    margin: 20px 120px;
    padding: 15px 0px;
    background-color: honeydew;
    color: blueviolet;
}


